# Requires OpenOCD with `cmsis-dap backend tcp` support.
# Override before -f: -c "set DAP_HOST 192.168.1.123"
if {![info exists DAP_HOST]} { set DAP_HOST 192.168.4.1 }
if {![info exists DAP_PORT]} { set DAP_PORT 4441 }
adapter driver cmsis-dap
cmsis-dap backend tcp
cmsis-dap tcp host $DAP_HOST
cmsis-dap tcp port $DAP_PORT
cmsis-dap tcp min_timeout 1000
transport select swd
adapter speed 1000
reset_config srst_only srst_nogate
